$sites-list-logo-size: 8rem;
$sites-list-vspace: 0.3rem;
$sites-list-border: 1px solid $tertiary-color;

.c-sites-list {
  border: $sites-list-border;

  &__selector {
    border-bottom: $sites-list-border;
    margin-bottom: $sites-list-vspace;
    text-align: right;

    span {
      padding: 0 0.2rem;
      display: inline-block;
      border-left: $sites-list-border;
      cursor: pointer;
      user-select: none;
    }
  }

  &__item {
    img {
      display: block;
      margin: auto;
      margin-bottom: $sites-list-vspace;
      height: $sites-list-logo-size;
      width:  $sites-list-logo-size;
    }
  }
}
