$logo-max-height: 120px;

.c-header {
  @include palette-dark;
  padding: 0.5rem;
  border-top:    5px solid $black;
  border-bottom: 1px solid $tertiary-color;

  &__body {
    height: $logo-max-height;
    @include mq($from: tablet) {
      position: relative;
    }
  }

  &__logo {
    max-height: $logo-max-height;

    @include mq($until: tablet) {
      float: right;
    }
    @include mq($from: tablet) {
      position: absolute;
      right: 0;
    }
  }

  &__title {
    padding-top: 1.2rem;
    display: block;
    font-size: x-large;
  }

  &__subtitle {
    display: block;
  }
}
