.c-dismiss {
  @include palette-light-shade;

  &__toolbar {
    @include palette-dark;
    padding: 0.2rem 0.4rem;
  }

  &__title {
    @extend .u-h5;
  }

  &__dismiss {
    @include clickable;
    @include font-size-large;
    float: right;
    color: $primary-light-color;
    &:hover {
      color: $white;
    }
  }
}
