.c-navbar {
  margin-bottom: 0;
}

.c-navbar__container {
  border: solid 1px $white;
  width: 100%;
  background: $primary-color;;
  border-radius: 3px;
}

.c-navbar__btn {
  padding: 0.4rem;
  cursor: pointer;
  border-right: solid 1px $white;
  user-select: none;
  color: $tertiary-color;

  &:hover {
    background: $primary-light-color;
    color: $white;
  }
}
