// Palletes mixins for the more general themes

@mixin palette-light {
  background: $primary-color;
  color:      $tertiary-color;
}

@mixin palette-dark {
  background: $secondary-color;
  color:      $white;
}

@mixin palette-light-shade {
  background:   $primary-dark-color;
  color:        $tertiary-dark-color;
  border-color: $tertiary-light-color;
}
