/***** Primary Colors *****/
$primary-color: #0c2058 !default;
$primary-light-color: #123476 !default;
$primary-dark-color: #0c2058 !default;
$secondary-color: #B5B6AF !default;
$secondary-light-color: #000 !default;
$secondary-dark-color: #000 !default;
$tertiary-color: #b4b4b4 !default;
$tertiary-light-color: #ebebeb !default;
$tertiary-dark-color: #505050 !default;
$error-color: #cc0000 !default;
$error-light-color: #000 !default;
$error-dark-color: #8c1518 !default;
$success-color: #009900 !default;
$success-light-color: #000 !default;
$success-dark-color: #004200 !default;
$grey-color: $tertiary-color !default;
$grey-light-color: #eeeeee !default;
$grey-dark-color: #4f4f4f !default;
$black: black !default;
$white: white !default;

/***** text colors *****/
$text-color: $tertiary-dark-color !default;
$text-color-muted: $tertiary-color !default;
$link-color: $primary-color !default;
$link-disabled-color: $primary-light-color !default;
$hint-color: $tertiary-dark-color !default;
$text-disabled-color: $grey-color !default;
$headers-color: $tertiary-dark-color !default;

/***** headers colors *****/
$h1-color: $headers-color !default;
$h2-color: $headers-color !default;
$h3-color: $headers-color !default;
$h4-color: $headers-color !default;
$h5-color: $headers-color !default;
$h6-color: $headers-color !default;

// Borders
$border-color: black !default;
$border-highlight-color: $primary-color !default;

// Fields, inputs, selects
$field-border-color: #ccc  !default;
$field-active-color: #00a8e0  !default;
$select-default-font-weight: 100 !default;
$input-color: initial !default;

// Buttons
$button-primary-bg-color: $primary-color  !default;
$button-primary-text-color: $white !default;
$button-primary-disabled-bg-color: $grey-color !default;
$button-primary-disabled-text-color: $grey-dark-color !default;

$button-secondary-bg-color: $secondary-color  !default;
$button-secondary-text-color: $white !default;
$button-secondary-disabled-bg-color: $grey-color !default;
$button-secondary-disabled-text-color: $grey-dark-color !default;

// Text, fonts
$header-font-weight: normal !default;
$header-font-color: $black !default;

// Inuit settings
$inuit-fractions: 1 2 3 4 5 6 7 8 9 10;
$inuit-use-markup-fix: true;

// Sass MQ Breakpoints
$mq-breakpoints: (
  md:   526px,
  lg:   769px,
  xlg:  1000px,
  xxlg: 1300px
)
