// Text align
.text--center {
  text-align: center !important;
}

.text--left {
  text-align: left !important;
}

.text--right {
  text-align: right !important;
}

// Text modifiers
.text--bold {
  font-weight: bold;
}

.text--capitalize {
  text-transform: capitalize;
}
